# Abstract
#### Setting
        1. 큐톤 원시데이터 

#### Method
        1. 큐톤 삽입 시간, 날짜, 시간 나눔
        2. 날짜 형식으로 변경
        3. 날짜, 시간 변수 수치화 시켜서 모델에 적용가능 형태로 변경

#### Result
        QTONE_data_YYC_002.csv

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [45]:
df = pd.read_csv('../Common/data/전체신호.csv', encoding = 'cp949')

In [46]:
df.head()

,큐톤삽입시간,광고타입,큐톤ID,서비스ID,채널명,OTV 채널번호,OTS 채널번호,서버 타입
0,"?2021-10-01 00:00:03,779",A,300,714,MBC M,137,137,M
1,"2021-10-01 00:00:19,558",A,175,329,YTN 사이언스,175,175,M
2,"2021-10-01 00:00:37,996",A,260,339,채널 차이나,102,80,M
3,"2021-10-01 00:00:43,070",A,370,391,SBS MTV,136,136,M
4,"2021-10-01 00:00:59,662",A,105,283,애니원티비,994,145,M

In [47]:
df['큐톤삽입시간'][0] = df['큐톤삽입시간'][0].replace('?','')
times = []
for i in range(len(df)) :
    time = df['큐톤삽입시간'][i][:19]
    times.append(time)
df['삽입시간'] = times
df = df.drop('큐톤삽입시간',axis=1)

df.head()

/tmp/ipykernel_1773688/790028781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['큐톤삽입시간'][0] = df['큐톤삽입시간'][0].replace('?','')

  광고타입  큐톤ID  서비스ID       채널명  OTV 채널번호  OTS 채널번호 서버 타입                 삽입시간
0    A   300    714     MBC M       137       137     M  2021-10-01 00:00:03
1    A   175    329  YTN 사이언스       175       175     M  2021-10-01 00:00:19
2    A   260    339    채널 차이나       102        80     M  2021-10-01 00:00:37
3    A   370    391   SBS MTV       136       136     M  2021-10-01 00:00:43
4    A   105    283     애니원티비       994       145     M  2021-10-01 00:00:59

In [48]:
df[df['광고타입'] == 'B'].index

Int64Index([     6,      7,     39,     41,     43,     45,     64,     67,
               110,    111,
            ...
            566869, 566876, 566877, 566885, 566889, 566899, 566904, 566908,
            566911, 566917],
           dtype='int64', length=64312)

## 전처리

In [49]:
drop_index = df[df['광고타입'] == 'B'].index
drop_index2 = df[df['삽입시간'] == '?2021-10-16 00:00:2'].index
df = df.drop(drop_index,axis=0)
df = df.drop(drop_index2,axis=0)
df = df.reset_index()
data = df.drop(['index', '큐톤ID', 'OTV 채널번호', 'OTS 채널번호'],axis=1)

In [51]:
data['날짜'] = data['삽입시간'].str.split(' ').str[0]
data['시간'] = data['삽입시간'].str.split(' ').str[1]

In [52]:
for i in range(len(data)) :
    data['Date'][i] = data['날짜'][i].replace('-','')
    data['Date'][i] = data['날짜'][i].replace('?','')
    data['Time'][i] = data['시간'][i].replace(':','')

,광고타입,서비스ID,채널명,서버 타입,삽입시간,날짜,시간
0,A,714,MBC M,M,2021-10-01 00:00:03,2021-10-01,00:00:03
1,A,329,YTN 사이언스,M,2021-10-01 00:00:19,2021-10-01,00:00:19
2,A,339,채널 차이나,M,2021-10-01 00:00:37,2021-10-01,00:00:37
3,A,391,SBS MTV,M,2021-10-01 00:00:43,2021-10-01,00:00:43
4,A,283,애니원티비,M,2021-10-01 00:00:59,2021-10-01,00:00:59
...,...,...,...,...,...,...,...
502600,A,392,nickelodeon,M,2022-04-14 23:59:12,2022-04-14,23:59:12
502601,A,321,OBS-W,M,2022-04-14 23:59:20,2022-04-14,23:59:20
502602,A,289,MBC NET,M,2022-04-14 23:59:24,2022-04-14,23:59:24
502603,A,679,리빙TV,M,2022-04-14 23:59:25,2022-04-14,23:59:25
502604,A,230,FISHING TV,M,2022-04-14 23:59:26,2022-04-14,23:59:26

## 채널별 CSV 파일로 저장

In [53]:
channel_name = df['채널명'].unique().tolist()

In [ ]:
for chat_name in channel_name :
    chat_csv = None
    chat_csv = df[df['채널명'] == chat_name]
    chat_csv.to_csv('../Processing/data/Type_A/'+str(chat_name)+'.csv', index=False)

## 전체 파일 CSV 저장

In [ ]:
data.to_csv('../Processing/data/QTONE_data_YYC_002.csv', index= False)